<!DOCTYPE html><html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Title</title>
</head>
<body>
<a href="/login" th:if="${#authorization.expression('!isAuthenticated()')}">Sign In</a>
<a href="/register" th:if="${#authorization.expression('!isAuthenticated()')}">Sign Up</a>
<a href="/logout" th:if="${#authorization.expression('isAuthenticated()')}">Sign Out</a>
<a href="/book-favorite/books-list" th:if="${#authorization.expression('isAuthenticated()')}">Favorite</a>
<div class="box">
    <form action="/searchFunction"  method="post">
        <input type="text" name="search" /></p>

        <button type="submit">search</button>
    </form>
    <table>
        <thead>
        <th>name</th>
        <th>isbn</th>
        <th>author</th>
        </thead>
        <tbody>
        <tr th:each="book: ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.author}"></td>
            <td><form th:action="@{'/book/' + ${book.id}}" method="GET">
                <input type="submit" name="action" value="details" />
            </form></td>
        </tr>    </tbody>
    </table>

    <form action="/" method="GET">
        <input type="submit" name="action" value="back" />
    </form>
</div>
</body>
</html>

<td><form action="/book/book.id" method="GET">
    <input type="submit" name="action" value="details" />
</form></td>